{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard">
        <table class="table table-sm">
            <thead class="thead-dark">
                <th>Dashboard</th>
                <th></th>
                <th></th>
                <th>
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Forums & Threads 
                        <i class="fas fa-pencil-alt fa-lg"></i> <a href="{{ path('forum_create') }}">Create Forum</a>
                        <i class="fas fa-cog fa-lg"></i> <a href="#">General Settings</a>
                        <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a href="{{ path('forum_list') }}">Total Forums:</a>
                                            <span class="badge badge-primary badge-pill">{{ data.forum_count | default(0) }}</span>
                                        </div>
                                        <div class="col-md">
                                            <a href="http://">Threads Waiting Waiting Approval:</a>
                                            <span class="badge badge-primary badge-pill">{{ data.thread_wating | default(0)}}</span>
                                        </div>
                                    </div>
                                <li class="list-group-item">
                                    Last Update:<a href="#">This thread got the latest reply</a> <br>
                                    by <a href="#">user</a> 2018/01/03
                                </li>
                            </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Users <i class="fas fa-cog fa-lg"></i> <a href="http://">General Settings</a>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="http://">Registered:</a>
                                        <span class="badge badge-primary badge-pill">{{ data.users_registered | default(0) }}</span>
                                    </div>                                    
                                    <div class="col-md-2">
                                        <a href="http://">Online:</a>
                                        <span class="badge badge-primary badge-pill">{{ data.users_online | default(0) }}</span>
                                    </div>                                    
                                    <div class="col-md-2">
                                        <a href="http://">Pending:</a>
                                        <span class="badge badge-primary badge-pill">{{ data.users_pending | default(0) }}</span>
                                    </div>                                    
                                    <div class="col-md-2">
                                        <a href="http://">Reported:</a>
                                        <span class="badge badge-primary badge-pill">{{ data.users_reported | default(0) }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}