<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Patrick+Hand" rel="stylesheet"> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('forum_list') }}">Closure-Forums</a>
            <ul class="navbar-nav mr-auto"> 
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" 
                    id="navbarDropdownMenuLink" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">User Panel</a>
                        {% if is_granted('ROLE_MODERATOR') %}
                        <a class="dropdown-item" href="{{ path('admin_dashboard') }}">Dashboard</a>
                        <a class="dropdown-item" href="{{ path('admin_dashboard') }}">Preferences</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            {% if not app.user %}
                <a class="mr-md-4 mr-sm-2" href="{{ path('login') }}">Login</a>
            {% endif %}
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Forum" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
    </nav>
    <div class="container-fluid">
            <div class="content">
            {% block body %}
            {% endblock %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
        <footer>
        </footer>
    </body>
</html>
