{% extends 'base.html.twig' %}
{% block body %}

<a href="{{ path('thread_create', {slug: forum.slug}) }}">New Thread</a>
<br>

<!-- Show subforums -->

{% for subforum in forum.children %}
    <li>
        <a href="{{ path('forum', {slug: subforum.slug } ) }}">
            {{subforum.name}}
        </a>
    </li>
{% endfor %}


<!-- Show threads in forum -->
<table>
    <thead>
        <th>Title</th>
        <th>Start date</th>
        <th>Posts</th>
    </thead>
    <tbody>
    {% for thread in threads %}
        <tr>
            <td><a href="{{ path('thread', {slug: forum.slug, id: thread.id}) }}">{{ thread.subject }}</a> by: {{ thread.user.username }}</td>
            <td>{{ thread.createdat | date() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}