{% extends 'base.html.twig' %}
{% block body %}

    <h3>{{ thread.subject }}</h3>
    <!-- <small>{{ thread.user.username }} {{ thread.createdat | date() }}</small> -->
    <div>
        {% for post in thread.posts %}
            <div>
            {{post.content}}
            <small>{{ post.user.username }} {{ post.createdat | date() }}</small>
            <br>
            <a href="">reply</a>
            <hr>
            </div>
        {% endfor %}
    </div>

    <div>
        <form method="post" action="thread={{thread.id}}/reply">
            <textarea placeholder="your message" name="_text">{{ content | default }}</textarea>
            <input type="submit">
        </form>
    </div>
{% endblock %}